<body>
    <div class="sidebar active">
        <div class="logo-details">
            <i class='bx bxl-angular'></i>
        </div>
        <ul class="nav-links">
            <li pTooltip="Course Page" tooltipPosition="right" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/admin-course">
                    <i class='bx bx-book-bookmark'></i>
                </a>
            </li>
            <li pTooltip="Course Module" tooltipPosition="right" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/course-module">
                    <i class='bx bx-food-menu'></i>
                </a>
            </li>
            <li pTooltip="Course Content" tooltipPosition="right" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/course-content">
                    <i class='bx bx-book-reader'></i>
                </a>
            </li>
            <li pTooltip="Quiz" tooltipPosition="right" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/quiz">
                    <i class='bx bx-rocket'></i>
                </a>
            </li>
            <li class="log_out" pTooltip="Logout" tooltipPosition="right" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <img src="assets/images/iamneo-logo.png" class="for-logo-adj">
            </div>
            <div class="profile-details" style="cursor: pointer;">
                <img src="assets/images/avatar.svg" alt="">
                <span class="admin_name">Admin</span>
                <i class='bx bx-chevron-down'></i>
            </div>
        </nav>
    </section>
</body>